		<div layout="column" layout-fill layout-align="center center" class="anim-slide-right" >
			<h2 class="md-headline" style="color:#fff">Choose Profile Type</h2>
			<div layout="row" layout-sm="column" layout-xs="column">				
				 <md-card >		
					<img ng-src="images/muscle-marathon.png" id="imgInd" 
						style="width:300px;height:250px" class="md-card-image" alt="Individual"/>
					<md-card-title>
					  <md-card-title-text>
						<span class="md-headline">Enthusiast</span>
					  </md-card-title-text>
					</md-card-title>
					<md-card-content layout-align="center center">
						You like excercise and wellbeing activities.
					</md-card-content>
					<md-card-actions layout="column" layout-align="end end">						
							<md-button aria-label="Float Action Button" 
								ng-click="select(0)" class="md-fab md-primary">
								<md-icon> arrow_forward </md-icon>
							</md-button>						
					</md-card-actions>
				  </md-card>		
				

				  <md-card >		
					<img src="images/assoc.png"  id="imgAssoc" 
						style="width:300px;height:250px" class="md-card-image" alt="Association"/>
					<md-card-title>
					  <md-card-title-text>
						<span class="md-headline">Charity/Association</span>
					  </md-card-title-text>
					</md-card-title>
					<md-card-content layout-align="center center">
						For sports associations, charities and CSR departments.
					</md-card-content>
					<md-card-actions layout="column" layout-align="end end">
						<md-button aria-label="Float Action Button" ng-click="select(1)" class="md-fab md-primary">
								<md-icon> arrow_forward </md-icon>
							</md-button>	
					</md-card-actions>
				  </md-card>	

				  <md-card >		
					<img ng-src="images/500-10.45.png" id="imgBiz" 
						style="width:300px;height:250px" class="md-card-image" alt="Business"/>
					<md-card-title>
					  <md-card-title-text>
						<span class="md-headline">Business</span>
					  </md-card-title-text>
					</md-card-title>
					<md-card-content layout-align="center center">
						For wellness and excercise practitioners
					</md-card-content>
					<md-card-actions layout="column" layout-align="end end">
						<md-button aria-label="Float Action Button"  ng-click="select(2)" class="md-fab md-primary">
								<md-icon> arrow_forward </md-icon>
							</md-button>	
					</md-card-actions>
				  </md-card>					  
				</div>	
			</div>